body{
  font-family: 'Antonio', sans-serif !important; 
  background: #A8D8F0 !important;
  color:#48A8A8 !important;
}
.text-title{
  font-family: 'Original Surfer', cursive im ;
  
}
.text-blue{
  color:#007890;
  font-family: 'New Tegomin', serif; 
}
.text-bright{
  color:#18A8D8
}